.task-list{ 
    display: grid;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 20px;
    grid-template-columns: 50px 100px 1fr 2fr 200px;
}
.list-header{
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 6px;
}
.list-item{
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    border-radius: 6px;
}
.delete-item{
    width: 50%;
    padding: 6px;
    background-color:red;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}
.delete-item:hover{
    background-color: rgb(162, 20, 20);
}
.update-item{
    width: 50%;
    padding: 6px;
    background-color:green;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}
.update-item:hover{
    background-color: rgb(9, 179, 9);
}

/* .delete-ml{
   width: 100px;
   margin-left: 18px;
} */